.header{
  width: 100%;
  height: 75px;
  background: rgb(67,56,202);
  background: linear-gradient(90deg, rgba(67,56,202,1) 0%, rgba(28,182,213,1) 100%);
  position: fixed;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fafafa;
}

.brand{
  font-size: 1.7em;
  text-decoration: none;
  color: #fafafa;
}

.links{
  display: flex;
}

.links li{
  list-style: none;
  margin-left: 1em;
  font-size: 1.1em;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: #fafafa;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.025em;
}