.form{
  display: flex;
  flex-direction: column;
}

.formTitle{
  font-weight: 500;
  text-align: center;
}

.separator{
  border: 1px solid var(--main-purple);
  margin: 1em auto 2em auto;
  border-radius: 5px;
  max-width: 90%;
  width: 100%;
}

.inputLabel{
  font-weight: 600;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.21em;
}

.inputStyle{
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  font-family: var(--sans-serif);
  outline: none;
}

.inputTextArea{
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-family: var(--sans-serif);
  outline: none;
 
}

.formFooter{
  display: flex;
  justify-content: space-between;
}

.button{
  font-size: 1.1em;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 3px;
  border: none;
  color: #fafafa;
  cursor: pointer;
  transition: 300ms;
}

.button:hover{
  transform: scale(1.05);
}

.success{
  background-color: #198754;
}

.yellow{
  background-color: #ffc107;
  color: #212121;
}

.gray{
  background-color: #555555;
  color: #fafafa;
}

.lightDanger{
  background-color: #f8d7da;
}

.lightSuccess{
  background-color: #d4edda;
}

.alert{
  border-radius: 3px;
  transition: all 250ms linear 100ms;
  margin: 1px 0 15px 0;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  font-size: 1.1em;
  color: #212121;
  height: 100%;
}

.alertHidden{
  opacity: 0;
  text-align: center;
  transition: all 250ms linear 3s;
  height: 0;
}

.successAlert{
  background-color: #198754;
  border-radius: 3px;
  transition: all 250ms linear 100ms;
  margin: 1px 0 15px 0;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  font-size: 1.1em;
  color: #212121;
  height: 100%;
}